/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


/* CSS Variables */

:root {
    --primary-background: #0C2C3B;
    --primary-font: #F1FAEE;
    --secondary-font: black;
    --secondary-background: #E63946;
}

/* Global Styles */
body {
    background-color: #1D3557;
    color: #F1FAEE;
    /* Optional: to ensure text is readable */
    font-family: "Roboto Slab", serif;
    padding-top: 10px;
}



/* Add margin to the bottom of the About section */
#about {
    margin-bottom: 40px;
    /* Adjust the value as needed */
}

/* Add margin to the top of the Learn section */
#learn {
    margin-top: 40px;
    /* Adjust the value as needed */
}

/* Typography */
h1,
p {
    text-align: center;
}

.underline {
    text-decoration: underline;
    text-emphasis: bold;
    ;
}

.header-title,
.header-text,
.card-title,
.card-text {
    color: #A8DADC;
    /* Ensure text is readable */
}

/* Navbar */

.navbar-toggler:hover {
    background-color: #aaa;
    /* Change this to your desired hover color */
}

.navbar {
    margin-bottom: 10px;
}

/* Header */
header {

    margin-bottom: auto;
    /* Adjust the value as needed */
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #090b1a; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hero Image */
.hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-height: 400px;
    margin-bottom: 2px;

}

/* Buttons */

.btn-primary,
.btn {
    color: #F1FAEE;
    background-color: #0C2C3B
        /* Adjust the opacity as needed */
}

/* Card */
.card {
    border: none;
}



/* Learn Section */

#learn .card {
    background-color: #A8DADC;
}

#learn h4 {
    color: #F1FAEE;
    /* Set the h4 color to yellow */
}

#learn .card-title,
#learn .card-text {
    background-color: #A8DADC;
    color: black;
    border-color: #A8DADC;
    /* Ensure card titles and texts are black */
}

#learn .card {

    border-color: #A8DADC;
    border-radius: 0px;
    /* Optional: to add rounded corners */
    padding: 1px;
    /* Optional: to add padding inside the card */
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

}

#learn .card-body {
    background-color: #A8DADC;

}

.card-body {
    background-color: #1D3557;
}

#learn .btn:hover {
    color: #0C2C3B;
    background-color: #F1FAEE;

}

#learn .card:hover {
    transform: scale(1.02);
    /* Slightly enlarge the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    /* Add a shadow effect */
}



/*testimonials section*/



.resize-image {

    border-radius: 50%;
    /* Make the images rounded */
    max-width: 200px;
    max-height: 200px;
}

.testimonial-images {
    background-color: transparent;
    color: #1D3557;
}

#testimonials .card-body {
    background-color: transparent;
    color: #1D3557;
}



/* Footer Section */

footer {
    background-color: #E63946;
    color: #F1FAEE;
    /* Optional: to ensure text is readable */
    padding: 20px;
    /* Optional: to add some padding */
    text-align: center;
    /* Optional: to center the text */
}

footer .container-section {
    background-color: #E63946;
}

/* Media Query for Large Screens */
@media (min-width: 992px) {
    .hero-image {
        margin-bottom: 0;
        /* Remove bottom margin */
    }

    #about {
        margin-top: 0px;
        /* Adjust the value as needed to reduce space */
    }
}

/* Container Section */
.container-section {
    background-color: #1D3557;
    position: relative;
    text-align: center;
}

/* Media Query for Extra-Large Screens */
@media (min-width: 1200px) {
    .hero-image {
        margin-bottom: 0;
        /* Remove bottom margin */
    }

    #about {
        margin-top: 0px;
        /* Adjust the value as needed to reduce space */
    }
}