/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


/* CSS Variables */

:root {
    --primary-background: #0C2C3B;
    --primary-font: #F1FAEE;
    --secondary-font: black;
}

/* Global Styles */
body {
    background-color: #1D3557;
    color: #F1FAEE;
    /* Optional: to ensure text is readable */
    font-family: "Roboto Slab", serif;
    padding-top: 10px;
}



/* Add margin to the bottom of the About section */
#about {
    margin-bottom: 40px;
    /* Adjust the value as needed */
}

/* Add margin to the top of the Learn section */
#learn {
    margin-top: 40px;
    /* Adjust the value as needed */
}

/* Typography */
h1,
p {
    text-align: center;
}

.underline {
    text-decoration: underline;
    text-emphasis: bold;
    ;
}

.header-title,
.header-text,
.card-title,
.card-text {
    color: #F1FAEE;
    /* Ensure text is readable */
}

/* Navbar */

.navbar-toggler:hover {
    background-color: #aaa;
    /* Change this to your desired hover color */
}

.navbar {
    margin-bottom: 10px;
}

/* Header */
header {

    margin-bottom: auto;
    /* Adjust the value as needed */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Hero Image */
.hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-height: 400px;
    margin-bottom: 2px;

}

/* Buttons */

.btn-primary,
.btn {
    color:#F1FAEE;
    background-color: #0C2C3B
    
    /* Adjust the opacity as needed */
}

/* Card */
.card {
    border: none;
}



/* Learn Section */


#learn h4 {
    color: #F1FAEE;
    /* Set the h4 color to yellow */
}

#learn .card-title,
#learn .card-text {
    color: black;
    /* Ensure card titles and texts are black */
}

#learn .card {

    border-color: #F1FAEE;
    border-radius: 0px;
    /* Optional: to add rounded corners */
    padding: 1px;
    /* Optional: to add padding inside the card */
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

}

#learn .card-body {
    background-color: white;

}

.card-body {
    background-color: #1D3557;
}

#learn .btn:hover {
    color:#0C2C3B;
    background-color: #F1FAEE;
   
}

#learn .card:hover {
    transform: scale(1.02); /* Slightly enlarge the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add a shadow effect */
}


/*Footer Section */



/* Container Section */
.container-section {
    background-color: #1D3557;
    position: relative;
    text-align: center;
}



/*testimonials section*/

.resize-image {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the images rounded */
    margin: 0 auto;
    background-color: #1D3557;
    color:#1D3557;
    
}

.testimonial-images {
    background-color: transparent;
    color:#1D3557;
}

#testimonials .card-body {
    background-color: transparent;
    color:#1D3557;
}

/* Media Query for Large Screens */
@media (min-width: 992px) {
    .hero-image {
        margin-bottom: 0;
        /* Remove bottom margin */
    }

    #about {
        margin-top: 0px;
        /* Adjust the value as needed to reduce space */
    }
}

/* Media Query for Extra-Large Screens */
@media (min-width: 1200px) {
    .hero-image {
        margin-bottom: 0;
        /* Remove bottom margin */
    }

    #about {
        margin-top: 0px;
        /* Adjust the value as needed to reduce space */
    }
}