/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
body {
    background-color: #0C2C3B;
    color: #FFFF00; /* Optional: to ensure text is readable */
    font-family: 'Roboto', sans-serif;
    
}

/* Typography */
h1, p {
    text-align: center;
}

.header-title, .header-text, .card-title, .card-text {
    color: #FFFF00; /* Ensure text is readable */
}

/* Navbar */
.navbar, .navbar-nav .nav-link, .btn-primary {

}

.navbar-toggler:hover {
    background-color: #aaa; /* Change this to your desired hover color */
}

/* Header */
header {
    margin-bottom: 15px; /* Adjust the value as needed */
}

/* Hero Image */
.hero-image {
    width: 100%;
    height: auto; 
    object-fit: cover;
    max-height: 400px;
    margin-bottom: 2px;
  
}



/* Card */
.card {
    border: none;
}

.card-body {
    background-color: #0C2C3B;
}

/* Container Section */
.container-section {
    background-color: #0C2C3B;
}